@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.shiki {
	@apply m-0 w-full overflow-x-scroll rounded-b-md pb-5 shadow-lg;
}

.shiki code {
	@apply grid;
}

.shiki .line {
	@apply relative inline-flex px-7 text-sm leading-6;
}

.shiki .line[data-line]:before {
	@apply -ml-2 mr-5 inline-flex min-w-[2ch] justify-end text-slate-500 opacity-40 content-[attr(data-line)];
}
